:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --second-bcg-color: #2f303a;
  --thirdy-bcg-color: #f5f4fa;
  --primary-white-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --primary-black-color: #000000;
  --btn-color: #188ce8;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.hidden-title {
  overflow: hidden;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  white-space: nowrap;
}

.markers {
  list-style: none;
}

.link {
  color: inherit;
  text-decoration: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Header */

.logo-studio-head {
  color: var(--primary-black-color);
}

.nav-list,
.contacts-list {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-list .link {
  color: var(--secondary-text-color);
}

/* Hero section */

.hero {
  background-color: var(--second-bcg-color);
  color: var(--primary-white-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.hero-btn {
  color: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: var(--btn-color);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--btn-color);
  background-color: var(--primary-white-color);
}

/* Feature section */

.feature-item-title {
  font-weight: 700;
  line-height: 1.14;

  text-transform: uppercase;
}

.feature-item-text {
  color: var(--secondary-text-color);
  line-height: 1.71;
}

/* Activities section */

/* Team WebStudio */

.team {
  background-color: var(--thirdy-bcg-color);
  font-size: 16px;
  line-height: 1.19;
}

.teammate {
  background-color: var(--primary-white-color);
}

.teammate-name {
  font-size: inherit;
  font-weight: 500;
}

.teammate-profession {
  color: var(--secondary-text-color);
}

/* Footer */
.footer {
  background-color: var(--second-bcg-color);
}

.footer-address {
  font-style: normal;
  line-height: 1.71;
}

.logo-studio-footer {
  color: var(--primary-white-color);
}

.physical-address {
  color: var(--primary-white-color);
}

.address.link {
  color: var(--secondary-white-color);
}

/* Portfolio html */

/* Main section */

.project-filter .btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;

  background-color: var(--thirdy-bcg-color);
  border: none;
}

.project-filter .btn:hover,
.project-filter .btn:focus {
  color: var(--primary-white-color);
  background-color: var(--btn-color);
  border-color: var(--btn-color);
}

.project-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-list .discription {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

/* Hover and focus for link el */

.link:hover,
.link:focus,
.current {
  color: var(--accent-color);
}
