.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  color: $primary-white-color;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-bg.jpg');
  background-color: $second-bcg-color;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

  &__title {
    max-width: 696px;
    margin: 0 auto 30px auto;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  &__button:hover,
  &__button:focus {
    color: $btn-color;
    background-color: $primary-white-color;
    border: 1px solid $btn-color;
  }
}
