.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $second-bcg-color;

  &__container {
    @media screen and (min-width: $tablet), screen and (max-width: $desktop -1) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
    }
  }
  &__logo {
    display: block;
    margin-bottom: 20px;
  }

  &__address {
    font-style: normal;
    line-height: 1.71;
  }
}

.wrap-address {
  @media screen and(max-width: $desktop  - 1 ) {
    text-align: center;
    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    display: inline-flex;
    flex-direction: column;
    // width: 100%;
  }
}

.address-list {
  &__item:not(:last-child) {
    @media screen and(min-width: $desktop) {
      margin-bottom: 9px;
    }
  }

  &__link {
    color: $secondary-white-color;

    &--white {
      color: $primary-white-color;
    }
  }
}

.wrap-socials {
  @media screen and (max-width: $desktop - 1) {
    text-align: center;
    margin-bottom: 60px;
  }

  @media screen and(min-width: $desktop) {
    margin-left: 70px;
    margin-right: 93px;
  }
  &__title {
    display: block;
    margin-bottom: 20px;

    color: $primary-white-color;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
  }
}
