.page-header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid $primary-border-color;

  @media screen and (min-width: $desktop) {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
      align-items: center;
    }
  }

  &__nav {
    @media screen and (max-width: $tablet - 1) {
      margin-bottom: 302px;
      font-size: 40px;
      line-height: 1.17;
    }
  }
}

.contact-list {
  // display: none;
  color: $secondary-text-color;

  @media screen and(max-width:  $tablet - 1) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row;
  }

  &__icon {
    @media screen and (max-width: $tablet -  1) {
      display: none;
    }
    margin-right: 10px;
  }

  &__item {
    @media screen and (max-width: $tablet - 1) {
      margin-bottom: 64px;

      font-weight: 500;

      &:last-child {
        margin-bottom: 32px;

        font-size: 34px;
        line-height: 1.18;
        color: $accent-color;
      }
      &:first-child {
        font-size: 24px;
        line-height: 1.17;
      }
    }

    @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
      &:first-child {
        margin-bottom: 10px;
      }
    }

    @media screen and (min-width: $desktop) {
      &:first-child {
        margin-right: 30px;
      }
    }
  }
}

.site-nav,
.contact-list {
  // display: none;
  // display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &__link {
    display: flex;
  }
}

.site-nav {
  position: relative;

  @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
    margin-right: 84px;
  }

  @media screen and (min-width: $desktop) {
    @include centeredFlex();
  }

  &__item {
    position: relative;
    @media screen and (max-width: $tablet - 1) {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }

    @media screen and (min-width: $tablet) {
      display: inline-flex;
    }

    &:not(:last-child) {
      @media screen and (min-width: $tablet) {
        margin-right: 50px;
      }
    }
  }

  &__link--current {
    color: $accent-color;

    @media screen and (min-width: $tablet) {
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -30px;

        display: inline-block;
        width: 100%;
        height: 4px;

        background-color: $accent-color;
        border-radius: 2px;
      }
    }

    @media screen and (min-width: $desktop) {
      &::after {
        bottom: -33px;
      }
    }
  }
}

// .site-nav__link--current::after {
//   content: '';
//   position: absolute;
//   left: 0;
//   bottom: 0;

//   width: 100%;
//   height: 4px;

//   background-color: var(--accent-color);
//   border-radius: 2px;
// }
// &__link--current::after {
//       content: '';
//       position: absolute;
//       left: 0;
//       bottom: 0;

//       width: 100%;
//       height: 4px;

//       background-color: $accent-color;
//       border-radius: 2px;
//     }
//   }
