body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  background-color: $primary-white-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.icon {
  fill: currentColor;
}

.markers {
  list-style: none;
}

.link {
  color: inherit;
  text-decoration: none;

  transition: $color-transition;

  &--accent {
    color: $accent-color;
  }
  &:hover:not(.project-list__link),
  &:focus:not(.project-list_link) {
    color: $accent-color;
  }
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
